<html>
  <head>
    <title>Codex: Projects</title>
  </head>
  <body>
    <h3>Local Projects:</h3>
    <table>
      {{#locs}}
      <form action="/query/doc/{{fqId.groupId}}/{{fqId.artifactId}}/{{fqId.version}}">
        <tr>
          <td align="right">
            <a href="/project/{{id}}">{{name}}</a>
          </td>
          <td><input type="text" name="q"/></td>
          <td>{{fqId.version}}</td>
          <td>{{path}}</td>
        </tr>
      </form>
      {{/locs}}
    </table>

    <p>Import Local Project:</p>
    <form action="/projects/import">
      <table>
        <tr>
          <td>Path:</td>
          <td><input type="text" name="path" size="80"/></td>
        </tr>
      </table>
    </form>

    <p>Maven Projects:</p>
    <ul>
      {{#m2s}}
      <li>
        <a href="/project/{{id}}">{{fqId.artifactId}}</a> : {{fqId.groupId}} : {{fqId.version}}
      </li>
      {{/m2s}}
    </ul>

    <p>Ivy Projects:</p>
    <ul>
      {{#ivies}}
      <li>
        <a href="/project/{{id}}">{{fqId.artifactId}}</a> : {{fqId.groupId}} : {{fqId.version}}
      </li>
      {{/ivies}}
    </ul>

    <p>DLL Projects:</p>
    <ul>
      {{#dlls}}
      <li>
        <a href="/project/{{id}}">{{fqId.artifactId}}</a> : {{fqId.groupId}} : {{fqId.version}}
      </li>
      {{/dlls}}
    </ul>
  </body>
</html>
