<html>
  <head>
    <title>Codex: {{title}}</title>
  </head>
  <body>
    <div>
      <h2><a href="/projects" style="text-decoration: none">⇧</a>
          {{proj.artifactId}} (id: {{id}})</h2>

      <p>
        <b>Organization:</b> {{proj.groupId}}<br/>
        <b>Version:</b> {{proj.version}}<br/>
        <b>Flavor:</b> {{flavor}}<br/>
        <b>Last indexed:</b> {{indexed}}<br/>
        <b>Family:</b>
        {{#family}}
          <a href="/project/{{groupId}}/{{artifactId}}/{{version}}">{{artifactId}}</a>
        {{/family}}
        {{^family}}
          no relations
        {{/family}}<br/>
      </p>
      <p>
        <a href="/project/{{proj.groupId}}/{{proj.artifactId}}/{{proj.version}}/delete">
          [delete]</a><br/>
      </p>

      <b>Depends:</b><br/>
      <ul>
        {{#depends}}
        <li>
          <a href="/project/{{groupId}}/{{artifactId}}/{{version}}">{{artifactId}}</a> -
          {{version}} -
          {{groupId}}{{#forTest}} - test{{/forTest}}
        </li>
        {{/depends}}
        {{^depends}}
        <li>None</li>
        {{/depends}}
      </ul>
    </div>

    <div>
      <b>Comp Units:</b><br/>
      <ul>
        {{#units}}
        <li><em>{{path}}</em>:<br/>
          {{#elems}}<span> {{.}}</span>{{/elems}}</li>
        {{/units}}
      </ul>
    </div>
  </body>
</html>
