<html>
  <head>
    <title>Codex: Projects</title>
  </head>
  <body>
    <h3>Local Projects:</h3>
    <table>
      {{#locs}}
      <form action="/query/doc/{{id.groupId}}/{{id.artifactId}}/{{id.version}}"/>
        <tr>
          <td align="right">
            <a href="/project/{{id.groupId}}/{{id.artifactId}}/{{id.version}}">{{id.artifactId}}</a>
          </td>
          <td><input type="text" name="q"/></td>
          <td>{{id.version}}</td>
          <td>{{path}}</td>
        </tr>
      </form>
      {{/locs}}
    </table>
    <p>Maven Projects:</p>
    <ul>
      {{#m2s}}
      <li>
        <a href="/project/{{id.groupId}}/{{id.artifactId}}/{{id.version}}">{{id.artifactId}}</a> :
        {{id.groupId}} : {{id.version}}
      </li>
      {{/m2s}}
    </ul>
    <p>Ivy Projects:</p>
    <ul>
      {{#ivies}}
      <li>
        <a href="/project/{{id.groupId}}/{{id.artifactId}}/{{id.version}}">{{id.artifactId}}</a> :
        {{id.groupId}} : {{id.version}}
      </li>
      {{/ivies}}
    </ul>
  </body>
</html>
